<html ng-app>
  <head>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/static/js/VideoController.js"></script>
    <script type="text/javascript">
      var videoIds = {{videos|tojson}}
    </script>
    <style type="text/css">
      #overlay{
        position:absolute;
        z-index:1000;
        top:0px;
        bottom:0px;
        height:100%;
        width:100%;
      }

      .bug{
        position:absolute;
        right:10px;
        bottom:30px;
        opacity:0.6;
      }
    </style>
  </head>
  <body ng-controller="VideoController" ng-init="setupIframe()" ng-keypress="keyPressed($event)">
    <div id="overlay">ds</div>
    <img src="http://lunch.tv/images/logogif_1.gif" class="bug" width="100px"/>
    <div>
      <div id="player"></div>
    </div>
  </body>
</html>
